<div class="card">
<form action="{{ .Site.Params.mailchimpURL }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div class="card-body">
        <h5 class="card-title">Subscribe to my Newsletter</h5>
        <div class="form-group">
        Email: <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
        First Name: <input type="text" value="" name="FNAME" class="" id="mce-FNAME">
        <p class="card-text">We use Mailchimp as our marketing platform. By clicking below to subscribe, you acknowledge that your information will be transferred to Mailchimp for processing. <a href="https://mailchimp.com/legal/" target="_blank">Learn more about Mailchimp's privacy practices here.</a></p>
        <button type="submit" id="mc-embedded-subscribe" class="btn btn-primary">Sign Up</button>
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_610d70ce797aa20063d7d0652_2dc5e8864e" tabindex="-1" value=""></div>
        </div>
    </div>        
</form>
</div>