{{ if .Page.Params.series }}
    {{ $name := .Page.Params.series }}
    <hr/>
	<p><a href="" id="series"></a>This is a post in the 
	<b>{{$name}}</b> series.<br/>
    Other posts in this series:</p>
    {{ $name := $name | urlize }}
    {{ $series := index .Site.Taxonomies.series $name }}
    <ul class="series">
    {{ range $series.Pages }}
    	<li>{{.Date.Format "Jan 02, 2006"}} -
    	<a href="{{.Permalink}}">{{.LinkTitle}}</a></li>
    {{end}}
    </ul>
{{ else }}
    Warning - check your tags or count
    {{ errorf "missing value for param 'name': %s" .Position }}
{{ end }}